In [6]:

import pandas as pd

In [7]:
# Read in the RAG dataset
rag_df = pd.read_csv(
    "data/synthetic/standard/synthetic_standard_survey.standard_school_aggregate_scores_rag.0000000010000.csv"
)
rag_df.head()

,variable,mean,count,school_lab,year_group_lab,gender_lab,fsm_lab,sen_lab,total_pupils,group_n,group_wt_mean,group_wt_std,lower,upper,rag,variable_lab,description
0,autonomy_score,17.18421052631579,76.0,School A,All,All,All,All,490,7,17.808163,0.439816,17.368347,18.247979,below,Autonomy,\nHow 'in control' young people feel of their ...
1,life_satisfaction_score,5.050420168067227,119.0,School A,All,All,All,All,725,7,5.060690,0.339266,4.721424,5.399955,average,Life satisfaction,\nHow satisfied young people feel with their life
2,optimism_score,12.035714285714286,112.0,School A,All,All,All,All,731,7,12.032832,0.260359,11.772473,12.293191,average,Optimism,\nYoung people's hopefulness and confidence fo...
3,wellbeing_score,21.21505376344086,93.0,School A,All,All,All,All,547,7,20.934186,0.507017,20.427169,21.441204,average,Psychological wellbeing,\nHow positive and generally happy young peopl...
4,esteem_score,12.546666666666669,75.0,School A,All,All,All,All,481,7,12.773389,0.406382,12.367007,13.179771,average,Self-esteem,\nHow much young people value themselves

In [8]:
# Select relevant columns
comparison_columns = [
    "variable_lab",
    "mean",
    "rag",
    "school_lab",
    "year_group_lab",
    "gender_lab",
    "fsm_lab",
    "sen_lab",
    "group_wt_mean",
    "group_wt_std",
    "lower",
    "upper",
]
filtered_comparison_df = rag_df[comparison_columns]
filtered_comparison_df.head()

# Split rag_df for each topic 
# Create a list of unique topics
topics = filtered_comparison_df["variable_lab"].unique()


# Height of bar = mean score for each school 

# Columns: 'variable_lab', 'mean', 'school_lab', 'year_group_lab', 'gender_lab', 'fsm_lab', 'sen_lab', 'total_pupils' (check whether this is n), 'group_wt_mean', 'group_wt_std', 'lower', 'upper', 'rag'

,variable_lab,mean,rag,school_lab,year_group_lab,gender_lab,fsm_lab,sen_lab,group_wt_mean,group_wt_std,lower,upper
0,Autonomy,17.18421052631579,below,School A,All,All,All,All,17.808163,0.439816,17.368347,18.247979
1,Life satisfaction,5.050420168067227,average,School A,All,All,All,All,5.060690,0.339266,4.721424,5.399955
2,Optimism,12.035714285714286,average,School A,All,All,All,All,12.032832,0.260359,11.772473,12.293191
3,Psychological wellbeing,21.21505376344086,average,School A,All,All,All,All,20.934186,0.507017,20.427169,21.441204
4,Self-esteem,12.546666666666669,average,School A,All,All,All,All,12.773389,0.406382,12.367007,13.179771

In [9]:
# Print text: Your school had [n] complete responses. Across Northern Devon, there were [n] complete responses from [n] schools. The average score for the pupils at your school, compared to other schools in Northern Devon, was: [RAG]