In [58]:

import pandas as pd
import pathlib as pl

In [59]:
# Read in the RAG dataset
rag_df = pd.read_csv(
    "data/synthetic/standard/synthetic_standard_survey.standard_school_aggregate_scores_rag.0000000010000.csv"
)
rag_df.head()

,variable,mean,count,school_lab,year_group_lab,gender_lab,fsm_lab,sen_lab,total_pupils,group_n,group_wt_mean,group_wt_std,lower,upper,rag,variable_lab,description
0,autonomy_score,17.18421052631579,76.0,School A,All,All,All,All,490,7,17.808163,0.439816,17.368347,18.247979,below,Autonomy,\nHow 'in control' young people feel of their ...
1,life_satisfaction_score,5.050420168067227,119.0,School A,All,All,All,All,725,7,5.060690,0.339266,4.721424,5.399955,average,Life satisfaction,\nHow satisfied young people feel with their life
2,optimism_score,12.035714285714286,112.0,School A,All,All,All,All,731,7,12.032832,0.260359,11.772473,12.293191,average,Optimism,\nYoung people's hopefulness and confidence fo...
3,wellbeing_score,21.21505376344086,93.0,School A,All,All,All,All,547,7,20.934186,0.507017,20.427169,21.441204,average,Psychological wellbeing,\nHow positive and generally happy young peopl...
4,esteem_score,12.546666666666669,75.0,School A,All,All,All,All,481,7,12.773389,0.406382,12.367007,13.179771,average,Self-esteem,\nHow much young people value themselves

In [60]:
# Select relevant columns
# Create dictionary to store dfs for each school
school_dfs: dict[str, pd.DataFrame] = {}

comparison_columns = [
    "variable",
    "mean",
    "rag",
    "school_lab",
    "year_group_lab",
    "gender_lab",
    "fsm_lab",
    "sen_lab",
    "group_wt_mean",
    "group_wt_std",
    "lower",
    "upper",
]
filtered_comparison_df = rag_df[comparison_columns]

# Split rag_df for each topic 

# Create dictionary to store dfs for each topic
topic_comparisons_df: dict[str, pd.DataFrame] = {}

# Create a list of unique topics
topics = filtered_comparison_df["variable"].unique()

# Iterate over each topic and create a df for "All pupils"
for topic in topics:
    topic_df = filtered_comparison_df[filtered_comparison_df["variable"] == topic]
    topic_comparisons_df[topic] = topic_df

    # Create a df for "All pupils"
    all_pupils_df = topic_df[
        (topic_df["year_group_lab"] == "All")
        & (topic_df["gender_lab"] == "All")
        & (topic_df["fsm_lab"] == "All")
        & (topic_df["sen_lab"] == "All")
    ]
    
    # Store the df for "All pupils" in the dictionary
    topic_comparisons_df[f"{topic}_all_pupils"] = all_pupils_df
 
# To view the DataFrame for 'Autonomy' for "All pupils", all schools
autonomy_all_pupils = topic_comparisons_df.get("autonomy_score_all_pupils")
autonomy_all_pupils.head()

,variable,mean,rag,school_lab,year_group_lab,gender_lab,fsm_lab,sen_lab,group_wt_mean,group_wt_std,lower,upper
0,autonomy_score,17.18421052631579,below,School A,All,All,All,All,17.808163,0.439816,17.368347,18.247979
288,autonomy_score,17.62962962962963,average,School B,All,All,All,All,17.808163,0.439816,17.368347,18.247979
576,autonomy_score,18.27142857142857,above,School C,All,All,All,All,17.808163,0.439816,17.368347,18.247979
864,autonomy_score,17.96551724137931,average,School D,All,All,All,All,17.808163,0.439816,17.368347,18.247979
1152,autonomy_score,17.652173913043477,average,School E,All,All,All,All,17.808163,0.439816,17.368347,18.247979

In [61]:
# Year group
for topic in topics:
    topic_df = filtered_comparison_df[filtered_comparison_df["variable"] == topic]
    topic_comparisons_df[topic] = topic_df

    # Create df with topics by school and by year group
    for year_group in topic_df["year_group_lab"].unique():
        year_group_df = topic_df[
            (topic_df["year_group_lab"] == year_group)]
        
        # Store the df in the dictionary
        topic_comparisons_df[f"{topic}_{year_group}"] = year_group_df

# Select "your school"

In [62]:
# Print text: Your school had [n] complete responses. Across Northern Devon, there were [n] complete responses from [n] schools. The average score for the pupils at your school, compared to other schools in Northern Devon, was: [RAG]